body {
	background-color: rgb(255, 255, 255);
	margin: 0;
	/* background-color:cornsilk; */
}

.nav-bar {
	position: sticky;
	top: 0;
	display: flex;
	background-color: rgb(6, 88, 80);
	height: 50px;
}

.nav-bar-items li a:link, a:visited { 
	margin: 0.5rem;
	text-decoration: none;
	font-size: 22px;
	color: black;
}

.nav-bar-items li a:hover, a:active {
	color: white;
}


.nav-bar-items {
	display: flex;
	list-style: none;
	align-self: center;
	width: 100%;
	justify-content: center;
}


.section {
	margin: 40px;
}

h1 {
	text-align: center;
	color: rgb(6, 88, 80);
	/* background-color: rgb(6, 88, 80); */
}

p {
	font-size:140%;
	font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
}

.contact:hover {
	background-image: url(./hover-mail-icon.svg);
}

.contact {
	display: flex;
	align-self: center;
	background-image: url(./mail-icon.svg);
	background-size: cover;
	width: 45px;
	height: 35px;
	margin-right: 20px;
}

.photos {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.photos img {
	width: 450px;
	height: 300px;
}
.photos iframe {
	width: 500px;
	height: 300px;
}

summary {
	font-size: 20px;
	font-weight: bold;
}

details p {
	font-size: 18px;
}

.instagram-media {
	background:#FFF;
	border:0;
	border-radius:3px;
	box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
	margin: 1px; 
	max-width:540px; 
	min-width:326px; 
	padding:0; 
	width:99.375%; 
	width:-webkit-calc(100% - 2px); 
	width:calc(100% - 2px);
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table; 
  }

.flex {
	display: flex;
	justify-content: center;
  }

.likes{
	flex-direction: column;
}

  .message {
	width: 300px;
	height: 200px;
}

.message ::placeholder {
	color: #ccc;
}

.submit-button {
    border-radius: 8%;
    width: 80px;
    height: 25px;
    background-color: dodgerblue;
    color: black;
	font-size: 18px;
    border: none;
}


.text-input {
	margin: 5px 0 5px 0;
}

